<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="favorite">

  <resultMap id="RM-FAVORITE" type="cn.ganzhiqiang.ares.favorite.domain.FavoriteDO">
    <result property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="resourceId" column="resource_id"/>
    <result property="resourceType" column="resource_type"/>
    <result property="gmtCreate" column="gmt_create"/>
  </resultMap>

  <sql id="COMMON-COLUMNS">
    id,
    user_id,
    resource_id,
    resource_type,
    gmt_create
  </sql>

  <select id="findFavoriteByResourceId" parameterType="java.util.Map" resultMap="RM-FAVORITE">
    SELECT <include refid="COMMON-COLUMNS" />
    FROM favoriate
    WHERE resource_id = #{resourceId} AND resource_type = #{resourceType}
  </select>

  <select id="queryFavoriteByUserId" parameterType="java.util.Map" resultMap="RM-FAVORITE">
    SELECT <include refid="COMMON-COLUMNS" />
    FROM favoriate
    WHERE user_id = #{userId}
    LIMIT #{start}, #{limit}
  </select>

  <select id="findFavoriteById" parameterType="java.util.Map" resultMap="RM-FAVORITE">
    SELECT <include refid="COMMON-COLUMNS" />
    FROM favoriate
    WHERE id = #{favoriteId}
  </select>

  <delete id="deleteFavorite">
    DELETE FROM favoriate
    WHERE id = #{id}
  </delete>

  <insert id="insertFavorite" parameterType="cn.ganzhiqiang.ares.favorite.domain.FavoriteDO"
    keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO favoriate (user_id, resource_id, resource_type)
    VALUES (#{userId}, #{resourceId}, #{resourceType})
  </insert>

</mapper>